*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: jost-regular;
    src: url(../fonts/jost-regular-webfont.woff);
}
@font-face {
    font-family: jost-medium;
    src: url(../fonts/jost-medium-webfont.woff);
}
@font-face {
    font-family: jost-semibold;
    src: url(../fonts/jost-semibold-webfont.woff);
}
@font-face {
    font-family: playfairdisplay-regular;
    src: url(../fonts/playfairdisplay-regular-webfont.woff);
}
body{
    background-color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    font-family: jost-regular;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #f1f1f1; 
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background:#888888;
}
::-webkit-scrollbar-thumb:hover
{
    background: #303030;
}
::placeholder {
    font-family: dosis;
    color: #b4b4b4;
    opacity: 1;
    font-size: 14px;
    line-height: 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    background-color: transparent;
}
.for-mobile{
    display: none;
}
.for-desktop{
    display: block;
}
.active{
    width: 100% !important;
    transition: 0.5s all ease-out;
}
*, :after, :before {
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    a, a:hover {
        color: #000 !important;
    }
    .d-none {
        display: none !important;
    }
    .for-mobile{
        display: block !important;
    }
    .for-desktop{
        display: none;
    }
    .heading {
        font-size: 18px!important;
        padding-left: 0;
        margin: 0!important;
        padding: 5px 0!important;
    }
}